{% extends 'users/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="#">

<div class="container">
    <div class="row g-0">
        <div class="container-fluid py-5 text-white" align='center'>
            <h1 class="display-5 fw-bold">User Authentication</h1>
            <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron,
                just like the one in
                previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to
                your
                liking.</p>
            <a href="" class="btn" style="color: white; background-color: #fd5e14; margin-left: 10px; " type="submit"
                id="header-links">Discover More</a>
        </div>


    </div>
</div>
{% endblock content %}